*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
background: #080808;
color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-attachment: fixed;
       position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    background-position:center ;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px ;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #53b2d2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text  span{
    color: #53b2d2;
}
/* ------------about---------- */
#about{
    padding: 80px 0;
    color: #ababab ;

}
#images{
    width: 350px;
    margin-right: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px ;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #53b2d2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents{
    display: none;
}
.tab-contents.avtive-tab{
    display: block;
    color: white;
}

/* experience */

#page{
    position: relative;
    
    background-color: #080808;
}
#project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.projects{
    border-top: 2px solid #53b2d2;
    height: 100%;
    width: 31%;
}
#text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30%;
    width: 100%;
}
#image{
    height: 70%;
    width: 100%;
    margin-top: 10px;
}
#image>img{
    height: 300px;
    width: 300px;
    padding: 10%;
    object-fit: cover;
}
.p1 img{
    position: relative;
    top: -40%;
}
.p2{
    position: relative;
    top: -20%;
}

/* Services */
#portfolio{
    padding: 150px 0;
    text-align: left;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 40px;
    margin-top: 50px;
   
}
.work-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:  trasform 0.5s;
}
.work-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
}
.work-list div h3{
    color: rgb(254, 254, 254);
}
.work-list div P{
    color: #fff;
}
.work-list div span{
    font-size: 20px;
    color: #fff;
}
.work-list div:hover{
    background: #53b2d2;
    transform: translateY(-10px);
}

.btn.btn2{
    display: inline-block;
    background: #53b2d2;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-color: #53b2d2;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:#262626 ;
    font-weight: 300;
    margin-top: 20px;
}
img{
  width: 50px;
}
